New-ADOrganizationalUnit -Name "HR" -Path "OU=Groups,OU=Accounts,DC=blue8,DC=local"
New-ADOrganizationalUnit -Name "Accounting" -Path "OU=Groups,OU=Accounts,DC=blue8,DC=local"
New-ADOrganizationalUnit -Name "Executive-Staff" -Path "OU=Groups,OU=Accounts,DC=blue8,DC=local"
New-ADOrganizationalUnit -Name "Marketing" -Path "OU=Groups,OU=Accounts,DC=blue8,DC=local"
New-ADOrganizationalUnit -Name "IT" -Path "OU=Groups,OU=Accounts,DC=blue8,DC=local"